@page "/login"
@using CreditAppWeb.Data.Http.Users

@inject UserClient usersHttp

<section class="vh-100 bg-image w-100"
         style="background-image: url('https://images.pexels.com/photos/122429/leaf-nature-green-spring-122429.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
    @*<div class="mask d-flex align-items-center h-100 gradient-custom-3">*@
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-3">
                        <h2 class="text-uppercase text-center mb-5">Iniciar Sesión</h2>
                        <div class="container">
                            <img src="./logo.png" class="mx-auto d-block img-fluid"/>
                        </div>

                        <RadzenAlert AllowClose="false" Visible="@isVisible" AlertStyle="AlertStyle.Warning" Variant="Variant.Filled" Shade="Shade.Lighter">
                            @Error
                        </RadzenAlert>
                        <EditForm Model="loginRequest" OnSubmit="HandleLogin">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example1cg">Email</label>
                                <input type="email" id="form3Example1cg" class="form-control form-control-lg" required @bind-value="loginRequest.Email"/>

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example3cg">Password</label>
                                <input type="password" id="form3Example3cg" class="form-control form-control-lg" required @bind-value="loginRequest.Password"/>
                            </div>

                            <div class="d-flex justify-content-center">
                                <RadzenButton class="mt-3" Style="background-color:#165B2A" ButtonType="ButtonType.Submit">INICIAR SESIÓN</RadzenButton>
                            </div>


                            <p class="text-center text-muted mt-5 mb-0">
                                No eres miembro?
                                <a href="/register"
                                   class="fw-bold text-body">
                                    <u>Registrar</u>
                                </a>
                            </p>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
        @*</div>*@
    </div>
</section>