@using CreditAppWeb.Data.Http.Products
@using CreditAppWeb.Pages.Users
@inject ProductClient ProductClientHttp

<h2>Productos</h2>
<RadzenButton Text="Agregar Producto" ButtonStyle="ButtonStyle.Success" Variant="Variant.Filled" Click="@RegisterProduct"></RadzenButton>

<RadzenLayout Style="height: auto; grid-template-columns: 1fr auto; grid-template-areas: 'rz-header rz-header' 'rz-body rz-sidebar'">
    <RadzenSidebar>
        <div class="rz-p-4 mb-3">
            <Car ListProduct="ListProductCar"></Car>
        </div>
    </RadzenSidebar>
    <RadzenBody>
            <div class="row">

                @foreach (var product in ProductRequestDtos)
                {
                    <ProductCar product="product" AddProductCar="AddProductCar"></ProductCar>
                }
            </div>
    </RadzenBody>
</RadzenLayout>


@* Crea la tarjeta *@


@code
{

    protected async override void OnInitialized()
    {
        base.OnInitialized();
        await LoadData();
    }

    private void AddProductCar(ProductRequestDTO product)
    {
        ListProductCar.Add(product);
    }

    private List<ProductRequestDTO> ProductRequestDtos = new();

    private List<ProductRequestDTO> ListProductCar = new();

    private async Task LoadData()
    {
        ProductRequestDtos = await ProductClientHttp.GetAllProducts();
        StateHasChanged();
    }

    private async Task RegisterProduct()
    {
        await DialogService.OpenAsync<RegisterProduct>("Registrar Producto",
            new Dictionary<string, object>() { },
            new DialogOptions
            { Width = "auto", Height = "auto", Resizable = false, Draggable = false, CssClass = "mt-5", ShowClose = true });
        await LoadData();
    }
}