<div class="col-3">
    <RadzenCard class="mb-3" Style="width: 300px; height: 320px;">
        @* Agrega el encabezado *@
        <HeaderTemplate>
            <div style="text-align: center;">
                <h3>@product.Name</h3>
            </div>
        </HeaderTemplate>

        @* Agrega la imagen del producto *@
        <BodyTemplate>
            <div style="text-align: center;">
                <img src="logo.png" style="max-width: 200px; max-height: 200px;"/>
            </div>
        </BodyTemplate>

        @* Agrega la descripción, cantidad y precio *@
        <FooterTemplate>
            <div style="padding: 5px;">
                <p>
                    <strong>Descripción:</strong> @product.Description
                </p>
                <p>
                    <strong>Cantidad:</strong> @product.Stock
                </p>
                <p><strong>Precio:</strong> $@product.Price</p>
            </div>
        </FooterTemplate>
        <RadzenButton ButtonStyle="ButtonStyle.Success" Text="Comprar" Variant="Variant.Outlined" Click="AddProduct"></RadzenButton>
    </RadzenCard>
</div>

@code
{
    [Parameter]
    public ProductRequestDTO product { get; set; }
    
    [Parameter]
    public EventCallback<ProductRequestDTO> AddProductCar { get; set; }

    public void AddProduct()
    {
        AddProductCar.InvokeAsync(product);
    }
}
